
@{
    ViewBag.Title = "Thêm Mới Công Thức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMax.cshtml";

    BaoCaoWebNangCao.Models.WEBNANGCAOEntities1 db = new BaoCaoWebNangCao.Models.WEBNANGCAOEntities1();

}

<style>
    .error-message {
        font-size: 12px;
        color: red;
    }
</style>

<h2>Thêm Công Thức</h2>
<form action="@Url.Action("Create","CongThuc",new {area="Admin"})" method="post" enctype="multipart/form-data" id="form-add">
    <div class="row">
        @*<div class="col-md-6">
            <label for="iddanhmuc">ID Danh Mục</label>
            <input type="text" class="form-control" id="iddanhmuc" name="iddanhmuc" placeholder="" />
        </div>*@
        <div class="col-md-6">
            <label for="iddanhmuc">ID Danh Mục</label>
            <select class="form-control" id="iddanhmuc" name="iddanhmuc">
                @foreach (var item in db.DANHMUCCONGTHUCs.ToList())
                {
                    <option value="@item.ID">@item.TENDANHMUC</option>
                }
            </select>

        </div>
        <div class="col-md-6">
            <span class="error-message"></span>    <label for="tencongthuc">Tên Công Thức</label>
            <input type="text" class="form-control" id="tencongthuc" name="tencongthuc" placeholder="" />
            
        </div>
        <div class="col-md-6">
            <label for="ngaydangtai">Ngày Đăng Tải</label>
            <input type="date" class="form-control" id="ngaydangtai" name="ngaydangtai" placeholder="" />
        </div>
        <div class="col-md-6">
            <label for="nguyenlieu">Nguyên Liệu</label>
            <input type="text" class="form-control" id="nguyenlieu" name="nguyenlieu" placeholder="" />
        </div>
        <div class="col-md-6">
            <label for="hinhanh">Hình Ảnh</label>
            <img src="https://img.meta.com.vn/Data/image/2022/05/14/meme-meo-bua-2.jpg" style="width: 80px; height: 80px;border-radius:5px"/>
            <input type="file" class="form-control" id="hinhanh" name="hinhanh" placeholder="" />
        </div>
        <div class="col-md-12">
            <label for="noidung">Nội Dung</label>
            @*<input type="text" class="form-control" id="noidung" name="noidung" placeholder="" />*@
            <textarea  class="form-control" id="noidung" name="noidung"></textarea>
        </div>
        <div class="col-md-12">
            <label for="noidung">Nội Dung Phụ</label>
            @*<input type="text" class="form-control" id="noidungphu" name="noidungphu" placeholder="" />*@
            <textarea class="form-control" id="noidungphu" name="noidungphu"></textarea>

        </div>
    </div>
    @*<p>@ViewBag.error</p>*@
    <br />
    <button type="submit" class="btn btn-success">Thêm</button>
    <a href="/Admin/congthuc/index" class="btn btn-danger">Trở về</a>
</form>
@section maJS{
    <script>
        CKEDITOR.replace('noidung')
        CKEDITOR.replace('noidungphu')

    </script>
    }
<script>
    // truy vấn đễn các thẻ trong file
    let inputName = document.querySelector('#tencongthuc');
    let errorElement = inputName.parentElement.querySelector('.error-message');
    let form = document.querySelector('#form-add');
    let inputFile = document.querySelector('#hinhanh');
    let img = inputFile.parentElement.querySelector('img');

    inputFile.onchange = (e) => {
        if (inputFile.files[0]) {
            img.src = URL.createObjectURL(inputFile.files[0]);
        }
    }

    // xử lý sự kiện khi người dùng nhấn ra ngoài ô input
    inputName.onblur = () => {
        isRequired(inputName);
    }

    // xử lý sự kiện người dùng nhập vào ô input, nếu nhập thì xóa lỗi 
    inputName.oninput = () => {
        errorElement.innerText = "";
    }

    // hàm kiểm tra ô input bắt buộc phải nhập
    function isRequired(input) {
        let isTrue = true;
        // kiểm tra giá trị bên trong ô input, nếu rỗng thì gán isTrue = false
        if (input.value === "") {
            errorElement.innerText = "Vui lòng nhập trường này";
            isTrue = false;
        }
        return isTrue;
    }

    form.onsubmit = (e) => {
        // kiểm tra xem đã nhập tên công thức chưa, nếu chưa thì không cho submit form
        if (!isRequired(inputName)) {
            // dừng sự kiện submit form khi có lỗi
            e.preventDefault();
            return;
        }
    }

</script>
