@model BaoCaoWebNangCao.Models.DANHMUCCONGTHUC
@section recipeCategoryStle {
    <link rel="stylesheet" href="~/Areas/Admin/dist/css/index.css" />
}
@{
    ViewBag.Title = "Chi Tiết Công Thức";
    

}


<div class="container">
   

    <div class="styled-block">
        <table class="table">
            <tr>
                <th>ID người dùng</th>
                <td>@Model.IDTAIKHOAN</td>
            </tr>
            <tr>
                <th>Tên người dùng</th>
                <td>@Model.TAIKHOAN.TENNGUOIDUNG</td>
            </tr>
            <tr>
                <th>ID danh mục</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Tên Danh Mục</th>
                <td>@Model.TENDANHMUC</td>
            </tr>
        </table>
    </div>
</div>

