@model BaoCaoWebNangCao.Models.DANHMUCCONGTHUC
@section recipeCategoryStle {
    <link rel="stylesheet" href="~/Areas/Admin/dist/css/index.css" />
}
@{
    ViewBag.Title = "Chi Tiết Công Thức";
    

}

<div class="container">
    <div class="row styled-block">
        <p><b>ID tài khoản đăng bài</b></p>
        <p>@Model.IDTAIKHOAN</p>
    </div>
    <div class="row styled-block">
        <p><b>ID danh mục</b></p>
        <p>@Model.ID</p>
    </div>
    <div class="row styled-block">
        <p><b>Tên danh mục</b></p>
        <p>@Model.TENDANHMUC</p>
    </div>

</div>

